.navbar-default {
    height: calc(100vh - 51px);
    background-color: #2A3F54 !important;
}

.nav>li>a {
    color: #ffffff;
    font-size: 16px;
    padding: 16px 50px;
    cursor: pointer;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background: rgba(255,255,255,.05);
}
.sidebar ul li a.active{
    background-color: #1b456e !important;
    border: 1px solid;
}
@media (max-width: 768px) {
    .navbar-default {
        height: auto;
    }
}