<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">THÔNG TIN CẢM BIẾN</h1>
  </div>
</div>
<div class="main row">
  <div class="name col-lg-12">
    <h2 (click)="converData()">Nhiệt độ</h2>
  </div>
  <div class="chart col-lg-12">
    <div class="col-lg-12" >
      <canvas baseChart 
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  </div>

</div>